<div class="border">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Competencia</th>
                <th>Descriçao</th>
                <th>Data Cadastro</th>
                <th>Data Vencimento</th>
                <th>Ativo</th>
                <th>Arquitetura</th>
                <th>Pratelheira</th>
                <th>Pratelheira Linha</th>
                <th>Pratelheira Coluna</th>
                <th>Armario</th>
                <th>Gaveta</th>
                <th>Data Descarte</th>
                <th>Numero Caixa</th>
                <th>Data Ultima Atualizacao</th>
                <th>Primeiro Usuario Cadastro</th>
                <th>Ultimo Usuario Atualizar</th>
                <th>Tipo Arquivo</th>
                <th>Usuario</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if (ArquivoOutputView is not null)
            {
                var dados = ArquivoOutputView.Dados;

                if (dados is not null)
                {
                    @foreach (var arquivoOutputDto in dados)
                    {
                        <tr>
                            <td>@arquivoOutputDto.Id</td>
                            <td>@arquivoOutputDto.Competencia.ToString("MM/yyyy")</td>
                            <td>@arquivoOutputDto.Descricao</td>
                            <td>@arquivoOutputDto.DataCadastro.ToShortDateString()</td>
                            <td>@arquivoOutputDto.DataVencimento.ToShortDateString()</td>
                            <td>@arquivoOutputDto.Ativo</td>
                            <td>@arquivoOutputDto.Arquitetura</td>
                            <td>@arquivoOutputDto.Pratelheira</td>
                            <td>@arquivoOutputDto.PratelheiraLinha</td>
                            <td>@arquivoOutputDto.PratelheiraColuna</td>
                            <td>@arquivoOutputDto.Armario</td>
                            <td>@arquivoOutputDto.Gaveta</td>
                            <td>@arquivoOutputDto.DataDescarte.ToShortDateString()</td>
                            <td>@arquivoOutputDto.NumeroCaixa</td>
                            <td>@arquivoOutputDto.DataUltimaAtualizacao.ToShortDateString()</td>
                            <td>@arquivoOutputDto.PrimeiroUsuarioCadastro</td>
                            <td>@arquivoOutputDto.UltimoUsuarioAtualizar</td>
                            <td>@arquivoOutputDto.TipoArquivo?.Descricao</td>
                            <td>@arquivoOutputDto.Usuario?.Login</td>
                            <td>
                                <a href="#">Editar</a> |
                                <a href="#">Excluir</a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>

</div>
@code {
    [Parameter]
    public ArquivoOutputView? ArquivoOutputView { get; set; }
}